﻿@model IEnumerable<QuanLyDienThoaiBLL.SanPhamNoiBat>

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container">
        
        <img src="~/Images/banner.jpg" alt="Simplex Header" class="img-responsive" />
		
		
		
        <ul class="nav nav-justified">
            <li class="active"><a href="/Home/Index">TRANG CHỦ</a></li>
            <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
            <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
            <li><a href="#">GIỚI THIỆU</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
            <li><a href="/Account/Login">TÀI KHOẢN</a></li>
        </ul>
        <div class="row space30">
            <!-- row 1 begins -->
            
			<div id="sliderFrame">
                <div id="slider">
                    @{ int i = 0; }
                    @foreach (var dien_thoai in Model)
                    {
                        foreach (var hinh in dien_thoai.DienThoai.HinhDienThoai)
                        {
                            <img src="@hinh.url" />
                        }
                        if (i == 2)
                        {
                            break;
                        }
                        ++i;   
                    }
                </div>
			</div>
			<br />
			<hr />
			
            <h2>
                Dòng Sản Phẩm Mới</h2>

            @foreach (var line in Model)
            {
                string duong_dan = "/Images/" + @line.DienThoai.ten_dien_thoai + ".jpg";
                
                <div class="col-md-4">
                    <h2 class="hang-san-xuat">
                        @line.DienThoai.ten_dien_thoai</h2>
                    <img src="@duong_dan" class="img-responsive img-rounded img_left" />
                    <h2 style="clear:both">
                        Mô tả sản phẩm</h2>
                    <p>@line.mo_ta</p>
                    <p>
                        <a class="btn-sm btn-primary" href="/SanPham/XemChiTietSanPham/@line.ma_dien_thoai">Chi tiết &raquo;</a></p>
                </div>
            }
                
            
            
            @*<h2>
                Dòng Sản Phẩm Mới</h2>
            <div class="col-md-4">
                <h2 class="hang-san-xuat">
                    Apple</h2>
                <img src="~/Images/index-iphone.jpg" alt="Image 1" class="img-responsive img-rounded img_left" />
                <h2>
                    Đặc điểm nổi bật</h2>
                <ul>
                    <li>Chipset: Apple A6</li>
                    <li>Màn hình: LED-backlit IPS TFT, capacitive touchscreen, 16M colors 4.0 inches 640
                        x 1136 pixel</li>
                    <li>Camera: 8.0 MP, 3264x2448 pixels, autofocus, LED flash</li>
                    <li>Hệ điều hành: iOS 6</li>
                    <li>Bộ nhớ trong: 64 GB</li>
                    <li>Dung lượng pin: 1440 mAh</li>
                    <li>Thời gian bảo hành: 12 tháng</li>
                </ul>
                <p>
                    <a class="btn-sm btn-primary" href="chi_tiet_san_pham.html">Chi tiết &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 class="hang-san-xuat">
                    SamSung</h2>
                <img src="~/Images/index-samsung.jpg" alt="Image 2" class="img-responsive img-rounded img_left" />
                <h2>
                    Đặc điểm nổi bật</h2>
                <ul>
                    <li>Chipset: Exynos, 8 nhân</li>
                    <li>Màn hình 5.1inches Full HD( 1080 x 1920 pixels)</li>
                    <li>Camera 16 MP,camera trước 2.0 MP</li>
                    <li>Cảm biến vân tay, cảm ứng đo nhịp tim</li>
                    <li>Ram: 2 GB,Rom: 16 GB</li>
                    <li>CPU:Quad-core 1.9 GHz Cortex-A15 - quad-core 1.3 GHz Cortex-A7</li>
                    <li>Hỗ trợ thẻ nhớ : 128 GB</li>
                    <li>Wifi,3G,Bluetooth,GPS</li>
                    <li>Dung lượng pin 2800 mAh</li>
                    <li>Trọng lượng 145g</li>
                </ul>
                <p>
                    <a class="btn-sm btn-success" href="chi_tiet_san_pham.html">Chi tiết &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="hang-san-xuat">
                    HTC</h2>
                <img src="~/Images/index-htc.jpg" alt="Image 3" class="img-responsive img-rounded img_left" />
                <h2>
                    Đặc điểm nổi bật</h2>
                <ul>
                    <li>Chipset: Qualcomm Snapdragon 801 Quad-core 2.5 GHz</li>
                    <li>Màn hình: 5.0 inches 1080 x 1920 pixels</li>
                    <li>Camera: Dual 4,0 UltraPixel, Quay phim FullHD 1080p@30fps</li>
                    <li>ROM: 32 GB, RAM: 2 GB</li>
                    <li>Hệ điều hành: Android 4.4 (KitKat)</li>
                    <li>Dung lượng pin: 2600 mAh</li>
                </ul>
                <p>
                    <a class="btn-sm btn-primary" href="chi_tiet_san_pham.html">Chi tiết &raquo;</a></p>
            </div>*@
        </div>
        <!-- /row 1 -->
        <div class="row space30 thong-tin-khuyen-mai">
            <!-- row 2 begins -->
            <div class="col-md-12">
                <h2 class="khuyen-mai">
                    Sự Kiện Khuyến Mãi</h2>
                <p>
                    Nhân diệp 39 năm ngày giải phóng miền năm thống nhất đất nước (30/4/1975 - 30/4/2014)</p>
                <p>
                    Công ty chúng tôi hân hạnh tổ chức một số chương trình khuyến mãi như sau</p>
                <ul>
                    <li>Các khách hàng thân thiết của công ty sẽ được giảm <span class="tin-quan-trong">
                        20%</span> khi mua các sản phẩm.</li>
                    <li>Các dòng sản phẩm thuộc hãng Apple sẽ được tặng phiếu rút thăm trúng thưởng trị
                        giá lên đến <span class="tin-quan-trong">20.000.000đ</span>.</li>
                    <li>Các dòng sản phẩm HTC sẽ được tặng một balo du lịch.</li>
                    <li>Quý khách có phiếu mua hàng từ <span class="tin-quan-trong">5.000.000đ</span> trở
                        lên sẽ được giảm giá 10%.</li>
                </ul>
                <p class="tin-quan-trong">
                    Chương trình chỉ áp dụng đến hết ngày 8/8/2014.</p>
            </div>
        </div>
        <!-- /row 2 -->
        <!-- Site footer -->
        <div class="footer">
            <p>
                Copyright © 2014 1112007-1112059
            </p>
        </div>
    </div>
    <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->