﻿@model IEnumerable<QuanLyDienThoaiBLL.BinhLuanSanPham>
@foreach (var binhluan in Model)
{
    <div class="binh-luan">
        <h4>@binhluan.ten_nguoi_binh_luan</h4>
        <p>@binhluan.noi_dung_binh_luan</p>
        <p class="binh-luan-datetime">@binhluan.ngay_binh_luan</p>
    </div>
}