﻿@model QuanLyDienThoaiBLL.BinhLuanSanPham

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BinhLuanSanPham</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.noi_dung_binh_luan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.noi_dung_binh_luan)
            @Html.ValidationMessageFor(model => model.noi_dung_binh_luan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ngay_binh_luan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ngay_binh_luan)
            @Html.ValidationMessageFor(model => model.ngay_binh_luan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ma_dien_thoai, "DienThoai")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ma_dien_thoai", String.Empty)
            @Html.ValidationMessageFor(model => model.ma_dien_thoai)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
