﻿@model QuanLyDienThoaiBLL.BinhLuanSanPham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BinhLuanSanPham</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.noi_dung_binh_luan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.noi_dung_binh_luan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngay_binh_luan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngay_binh_luan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DienThoai.ten_dien_thoai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DienThoai.ten_dien_thoai)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
