﻿@model QuanLyDienThoaiBLL.BinhLuanSanPham

@{
    ViewBag.Title = "Chỉnh sửa bình luận";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />



    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li class="active"><a href="/SanPham/DanhSachSanPham">SẢN PHẨM</a></li>
        <li><a href="/SanPham/Index">TÌM SẢN PHẨM</a></li>
        <li><a href="gioi_thieu.html">GIỚI THIỆU</a></li>
        <li><a href="lien_he.html">LIÊN HỆ</a></li>
        <li><a href="dang_nhap.html">TÀI KHOẢN</a></li>
    </ul>

    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-12">

            <h2>Chỉnh sửa bình luận</h2>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Bình luận sản phẩm</legend>

                    @Html.HiddenFor(model => model.id)

                    <div class="editor-label">
                        @Html.LabelFor(model => model.noi_dung_binh_luan)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.noi_dung_binh_luan)
                        @Html.ValidationMessageFor(model => model.noi_dung_binh_luan)
                    </div>

                    
                    

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ma_dien_thoai, "Điện thoại")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("ma_dien_thoai", String.Empty)
                        @Html.ValidationMessageFor(model => model.ma_dien_thoai)
                    </div>
                    <br />
                    <p>
                        <input type="submit" value="Save" />
                    </p>
                </fieldset>
            }

            <div>
                @Html.ActionLink("Quay về", "Details", "SanPham", new { id = Model.ma_dien_thoai }, null)
            </div>
        </div>
    </div>

    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
