﻿@model IEnumerable<QuanLyDienThoaiBLL.BinhLuanSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.noi_dung_binh_luan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_binh_luan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai.ten_dien_thoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.noi_dung_binh_luan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_binh_luan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai.ten_dien_thoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
