body {

}

a:hover { color: #090; }

.space30 { margin-top: 30px; }

.row ul { padding-left: 30px; }

.clear { clear: both; }

.float_left { float: left; }
.float_right { float: right; }

.img_left_gallery {	float: left; margin: 12px; padding: 8px; border: 1px solid #CCC; }

.img_left {	float: left; margin-right: 20px; margin-bottom: 15px; }

.img_right { float: right; margin: 0px 0px 15px 20px; }

.img_bottom { margin-bottom: 15px; }

.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 20px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
  height: 0px;
}
/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #006699;
  border-radius: 6px;
  border: 1px solid #006699;
}

.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #005588;
  background-color: #006699; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #0099FF 0%, #006699 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099FF), color-stop(100%,#006699)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #0099FF 0%,#006699 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #0099FF 0%,#006699 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #0099FF 0%,#006699 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099FF', endColorstr='#006699',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #0099FF 0%,#006699 100%); /* W3C */
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  color: #000000;
  background-color: #22BBFF;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.25);
}

.nav-justified > li > a:hover { 
	color: black;
	background-color: #22BBFF; 
	background-image: none;
	box-shadow: inset 0 3px 7px rgba(0,0,0,.25);
}

.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-left: 1px solid #0099FF;
    border-right: 1px solid #005588;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.status {
	color: green;
	font-weight: bold;
}
.price {
	color: red;
	font-weight: bold;
}
#tim-kiem-image {
	width: 120px;
	height: 120px;
}

.table-cauhinh {
width:100%;
border-top:1px solid #e5eff8;
border-right:1px solid #e5eff8;
margin:1em auto;
border-collapse:collapse;
}
.table-cauhinh td {
color:black;
border-bottom:1px solid #e5eff8;
border-left:1px solid #e5eff8;
padding:.3em 1em;
text-align:center;
}
tr.odd td {
background:#f7fbff
}
tr.odd .column1 {
background:#f4f9fe;
width: 30%;
}
#ten_binh_luan {
	width: 200px;
}
.binh-luan {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color:#CCCCFF;
	border-radius: 10px;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
	padding:5px;
}
.binh-luan-datetime {
	text-align: right;
}
.tai-khoan{
    margin-left:auto;
    margin-right:auto;
}
.tai-khoan-textbox{
    width:320px;
}
.sinh-nhat-textbox{
    margin-left:0;
    width:80px;
    display:inline;
}
.thang-select{
    width:150px;
    display:inline;
}
.ho-ten-textbox{
    margin-left:0;
    width:160px;
    display:inline;
}    
.hang-san-xuat{
    color:Blue;
    font-weight:bold;
    font-style:italic;
}
.tin-quan-trong{
    color:Red;
    font-weight:bold;
}
.khuyen-mai{
    color:orange;
    font-style:italic;
}
.thong-tin-khuyen-mai{
    background-color:#c3c1fd;
}
.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 100%;
    
 position: relative;
 background: orange;
 color: #fff;
 text-align: left;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}


.table-ds-sp {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;

    margin-bottom: 20px;
}.table-ds-sp table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.table-ds-sp tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.table-ds-sp table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.table-ds-sp table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.table-ds-sp tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.table-ds-sp tr:hover td{
	
}
.table-ds-sp tr:nth-child(odd){ background-color:#aad4ff; }
.table-ds-sp tr:nth-child(even)    { background-color:#ffffff; }.table-ds-sp td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.table-ds-sp tr:last-child td{
	border-width:0px 1px 0px 0px;
}.table-ds-sp tr td:last-child{
	border-width:0px 0px 1px 0px;
}.table-ds-sp tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table-ds-sp tr:first-child td{
		/*background:-o-linear-gradient(bottom, #00ff7f 5%, #00bf5f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00ff7f), color-stop(1, #00bf5f) );
	background:-moz-linear-gradient( center top, #00ff7f 5%, #00bf5f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff7f", endColorstr="#00bf5f");	background: -o-linear-gradient(top,#00ff7f,00bf5f);*/

	/*background-color:#00ff7f;*/
	border:0px solid #000000;
	/*text-align:center;*/
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.table-ds-sp tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #00ff7f 5%, #00bf5f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00ff7f), color-stop(1, #00bf5f) );
	background:-moz-linear-gradient( center top, #00ff7f 5%, #00bf5f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff7f", endColorstr="#00bf5f");	background: -o-linear-gradient(top,#00ff7f,00bf5f);

	background-color:#00ff7f;
}
.table-ds-sp tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table-ds-sp tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


.link-button {
    margin: 20px;
  font-family: arial;
  color: #14396A !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 3px 4px 0px #BEE2F9;
  padding: 7px 31px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #3866A3;
  background: #44DBAE;
  background: linear-gradient(top,  #69C3FC,  #55A9FA);
  background: -ms-linear-gradient(top,  #69C3FC,  #55A9FA);
  background: -webkit-gradient(linear, left top, left bottom, from(#69C3FC), to(#55A9FA));
  background: -moz-linear-gradient(top,  #69C3FC,  #55A9FA);
}
.link-button:hover {
  color: #14396A !important;
  background: #68CF4F;
}

.paging-selected {
    margin: 8px;
    color: red;
}

.paging-link {
    margin: 8px;
}

#RememberMe {
    float: left;
}

.checkbox {
    margin: 0;
}

input#loginbutton{
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
padding:5px 25px; /*add some padding to the inside of the button*/
background:#35b128; /*the colour of the button*/
border:1px solid #33842a; /*required or the default border for the browser will appear*/
/*give the button curved corners, alter the size as required*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*give the button a drop shadow*/
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
/*style the text*/
color:#f3f3f3;
font-size:1.1em;
}
/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
input#loginbutton:hover, input#loginbutton:focus{
background-color :#399630; /*make the background a little darker*/
/*reduce the drop shadow size to give a pushed button effect*/
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}

.text-box {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

}


#login {
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
    margin-right: 110px;
}

#logoutForm {
    display: inline;
    margin-left: 5px;
}

.so-lan-xem-sp {
    color: red;
}

.them-vao-gio {
    color:White; background-color: #333; border: 1px solid black; cursor:pointer;
}

TFOOT TD { border-top: 1px dotted gray; font-weight: bold; }

.actionButtons {
    text-align: center;
}
.actionButtons A, INPUT.actionButtons {
font: .8em Arial; color: White; margin: .5em;
text-decoration: none; padding: .15em 1.5em .2em 1.5em;
background-color: #353535; border: 1px solid black;
}

.datagrid {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 4px solid #00070A; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }.datagrid table td, .datagrid table th { padding: 7px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000305), color-stop(1, #000A0F) );background:-moz-linear-gradient( center top, #000305 5%, #000A0F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000305', endColorstr='#000A0F');background-color:#000305; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #001C29; border-left: 3px solid #CFDBE0;font-size: 13px;font-weight: normal; }.datagrid table tbody .alt td { background: #B3BDC2; color: #002536; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #00070A;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

#tom-tat-gio-hang {
    height: 70px;
    margin-right: 100px;
}

DIV#cart { float:right; margin: .8em; color: Silver;
background-color: #555; padding: .5em .5em .5em 1em; 
}
DIV#cart A { text-decoration: none; padding: .4em 1em .4em 1em; line-height:2.1em;
margin-left: .5em; background-color: #333; color:White; border: 1px solid black;}
    DIV#cart A:hover
    {
        background-color: olive;
    }

 

.btn-reset-password {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
}

.btn-reset-password:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.message-success {
    color: green;
}

.btn-xem-lich-su {
    margin-left: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.btn-xem-lich-su:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
	background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
	background-color:#5cb811;
}
.btn-xem-lich-su:active {
	position:relative;
	top:1px;
}

table.table-lich-su-mua-hang {font-size:12px;color:#fbfbfb;width:100%;border-width: 1px;border-color: #686767;border-collapse: collapse;}
table.table-lich-su-mua-hang th {font-size:12px;background-color:#171515;border-width: 1px;padding: 8px;border-style: solid;border-color: #686767;text-align:left;}
table.table-lich-su-mua-hang tr {background-color:#2f2f2f;}
table.table-lich-su-mua-hang td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #686767;}
