﻿@model IEnumerable<QuanLyDienThoaiBLL.ChiTietDonHang>
@{
    Layout = null;
}

@{
    System.Globalization.NumberFormatInfo nfi = System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN").NumberFormat;
    nfi.NumberDecimalDigits = 0;
}

<h3>Chi tiết đơn đặt hàng</h3>
<table class="table-lich-su-mua-hang">
    <tr>
        <th>Điện thoại
        </th>
        <th>Số lượng
        </th>
        <th>Đơn giá
        </th>
        <th>Tổng tiền cho sản phẩm
        </th>
    </tr>

    @foreach (var line in Model)
    {
        <tr>
            <td>
                @line.DienThoai.ten_dien_thoai
            </td>
            <td>
                @line.so_luong
            </td>
            <td>
                @line.don_gia.GetValueOrDefault().ToString("N", @nfi) VNĐ
            </td>
            <td>
                @{
        decimal tong = Convert.ToDecimal((decimal)line.so_luong) * (decimal)line.don_gia;
                }
                @tong.ToString("N", @nfi) VNĐ
            </td>
        </tr>
    }

</table>
