﻿@model QuanLyDienThoaiBLL.DonHang

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DonHang</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngay_dat_hang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngay_dat_hang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dia_chi_giao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dia_chi_giao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ten_nguoi_nhan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ten_nguoi_nhan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dien_thoai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dien_thoai)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tong_tien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tong_tien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThongTinNguoiDung.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThongTinNguoiDung.email)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
