﻿@model QuanLyDienThoaiBLL.DonHang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DonHang</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngay_dat_hang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngay_dat_hang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dia_chi_giao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dia_chi_giao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ten_nguoi_nhan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ten_nguoi_nhan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dien_thoai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dien_thoai)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tong_tien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tong_tien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThongTinNguoiDung.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThongTinNguoiDung.email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
