﻿@model QuanLyDienThoaiBLL.DonHang

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DonHang</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ngay_dat_hang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ngay_dat_hang)
            @Html.ValidationMessageFor(model => model.ngay_dat_hang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dia_chi_giao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dia_chi_giao)
            @Html.ValidationMessageFor(model => model.dia_chi_giao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ten_nguoi_nhan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ten_nguoi_nhan)
            @Html.ValidationMessageFor(model => model.ten_nguoi_nhan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dien_thoai)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dien_thoai)
            @Html.ValidationMessageFor(model => model.dien_thoai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tong_tien)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tong_tien)
            @Html.ValidationMessageFor(model => model.tong_tien)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nguoi_dat, "ThongTinNguoiDung")
        </div>
        <div class="editor-field">
            @Html.DropDownList("nguoi_dat", String.Empty)
            @Html.ValidationMessageFor(model => model.nguoi_dat)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
