﻿@model IEnumerable<QuanLyDienThoaiBLL.DonHang>

@{
    Layout = null;
}

<div class="row space30">
    <div class="col-md-12">
        <h2>Xem lịch sử mua hàng</h2>
        @{
            System.Globalization.NumberFormatInfo nfi = System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN").NumberFormat;
            nfi.NumberDecimalDigits = 0;
        }

        @{
                
                List<SelectListItem> ds_TrangThai = new List<SelectListItem>();

                for (int i = 0; i < ((string[])ViewData["ds_TrangThai"]).Count(); ++i )
                {
                    ds_TrangThai.Add(new SelectListItem
                    {
                        Text = ((string[])ViewData["ds_TrangThai"]).ElementAt(i),
                        Value = ((int[])ViewData["ds_TrangThaiId"]).ElementAt(i).ToString(),
                        Selected = false
                    });
                    
                }
            }


        <table class="table-lich-su-mua-hang">
            <tr>
                <th>Ngày đặt hàng</th>
                <th>Địa chỉ giao hàng</th>
                <th>Tên người nhận</th>
                <th>Điện thoại</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
            </tr>

            
            

            @foreach (var line in Model)
            {
                <tr>
                    <td>@line.ngay_dat_hang</td>
                    <td>@line.dia_chi_giao</td>
                    <td>@line.ten_nguoi_nhan</td>
                    <td>@line.dien_thoai</td>
                    <td>@line.tong_tien.GetValueOrDefault().ToString("N", @nfi) VNĐ</td>
                    <td>@line.TrangThaiDonHang.trang_thai
                        
                    </td>
                    <td>
                        

                        @using (Ajax.BeginForm("CapNhatTrangThai", "DonHang", new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "noi-dung-chuc-nang"
                                })) {

                                    foreach (var tt in ds_TrangThai)
                                    {
                                        tt.Selected = false;
                                        if (tt.Value == @line.TrangThaiDonHang.id.ToString())
                                        {
                                            tt.Selected = true;
                                        }
                                    }
                            
                                //ds_TrangThai.Where(x => x.Value == line.trang_thai.GetValueOrDefault().ToString()).FirstOrDefault().Selected = true;
                                    
                                       @Html.DropDownList("trang_thai_cap_nhat", ds_TrangThai) 
                                        <input type="hidden" name="ma_don_hang" value="@line.id" />
                                    
                                <input class="actionButtons" type="submit"
                                value="Cập nhật" />
                                    
                                }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>





@*       <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@
