﻿@model QuanLyDienThoaiBLL.DonHang

@{
    ViewBag.Title = "Kết quả đặt hàng";
}

<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />



    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
        <li><a href="/SanPham/Index">TÌM SẢN PHẨM</a></li>
        <li><a href="gioi_thieu.html">GIỚI THIỆU</a></li>
        <li><a href="lien_he.html">LIÊN HỆ</a></li>
        <li><a href="dang_nhap.html">TÀI KHOẢN</a></li>
    </ul>

    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-12">
            <h2>Thông tin đặt hàng</h2>
            <p>Đơn hàng sẽ được vận chuyển trong thời gian sớm nhất, tối đa là 3 ngày</p>
            <table>
                <tr>
                    <th>Ngày đặt hàng: </th>
                    <td>@Model.ngay_dat_hang</td>
                </tr>
                <tr>
                    <th>Địa chỉ giao: </th>
                    <td>@Model.dia_chi_giao</td>
                </tr>
                <tr>
                    <th>Tên người nhận: </th>
                    <td>@Model.ten_nguoi_nhan</td>
                </tr>
                <tr>
                    <th>Điện thoại liên lạc: </th>
                    <td>@Model.dien_thoai</td>
                </tr>
                <tr>
                    <th>Tổng số tiền: </th>
                    <td>@Model.tong_tien</td>
                </tr>
            </table>
            </div>
    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>

