﻿
@{
    Layout = null;
    }

 <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-6">
            <h2>Thống kê doanh thu</h2>

            @using(Ajax.BeginForm("ThucHienThongKeDoanhSo", new AjaxOptions {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "kq-thong-ke"
            }))
            {
            <table>
               
                <tr>
                    <th>Ngày</th>
                    <td>@Html.TextBox("ngay", null, new {@class="form-control"})</td>
                </tr>
                <tr>
                    <th>Tháng</th>
                    <td>@Html.TextBox("thang", null, new {@class="form-control"})</td>
                </tr>
                <tr>
                    <th>Qúy</th>
                    <td>@Html.TextBox("quy", null, new {@class="form-control"})</td>
                </tr>
                <tr>
                    <th>Năm</th>
                    <td>@Html.TextBox("nam", null, new {@class="form-control"})</td>
                </tr>
                
                
            </table>
                
                <h3>Thống kê theo</h3>
            <div>
            <div>
                   <input type="radio" name="lua_chon" value="ngay" />Ngày  
                </div>
            <div>
                        <input type="radio" name="lua_chon" value="thang" />Tháng  
                </div>       
                   <div>
                        <input type="radio" name="lua_chon" value="quy" />Quý  
     </div><div>
                        <input type="radio" name="lua_chon" value="nam" checked />Năm  
</div>
            </div>
                <div style="margin-top:10px">
                <input type="submit" value="Thống kê" /></div>
            }
            
            </div>
     <div class="col-md-6">
        <div id="kq-thong-ke"></div>
    </div>
 </div>

