﻿@model _1112007_1112059.Models.LishSuMuaHangViewModel

@{
    ViewBag.Title = "Xem lịch sử mua hàng";
}

<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />

    <ul class="nav nav-justified">
            <li><a href="/Home/Index">TRANG CHỦ</a></li>
            <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
            <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
            <li><a href="#">GIỚI THIỆU</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
            <li><a href="/Account/Login">TÀI KHOẢN</a></li>
        </ul>

    

    <div class="row space30">
        <div class="col-md-12">
            <h2>Xem lịch sử mua hàng</h2>

            <div id="chi-tiet-lich-su">

            </div>
        </div>
    </div>

    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-12">
            
            @{
                System.Globalization.NumberFormatInfo nfi = System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN").NumberFormat;
                nfi.NumberDecimalDigits = 0;
            }
            

            <table class="table-lich-su-mua-hang">
                <tr>
                    <th>Ngày đặt hàng</th>
                    <th>Địa chỉ giao hàng</th>
                    <th>Tên người nhận</th>
                    <th>Điện thoại</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái</th>
                </tr>

                @foreach (var line in Model.ds_donHang)
                {
                    <tr>
                        <td>@line.ngay_dat_hang</td>
                        <td>@line.dia_chi_giao</td>
                        <td>@line.ten_nguoi_nhan</td>
                        <td>@line.dien_thoai</td>
                        <td>@line.tong_tien.GetValueOrDefault().ToString("N", @nfi) VNĐ</td>
                        <td>@line.TrangThaiDonHang.trang_thai</td>
                        <td>@Ajax.ActionLink("Xem chi tiết", "XemChiTietLichSu", new { ma_don_hang = line.id },
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "chi-tiet-lich-su"
                            })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

    <div class="row space30">  
        <div class="pager">
            @Html.PageLinks(Model.pagingInfo, x => Url.Action("XemLichSuMuaHang", new {page = x}))
        </div>
    </div>

    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>
<script type="text/javascript">
	window.onload=function(){
	var tfrow = document.getElementById('tfhover').rows.length;
	var tbRow=[];
	for (var i=1;i<tfrow;i++) {
		tbRow[i]=document.getElementById('tfhover').rows[i];
		tbRow[i].onmouseover = function(){
		  this.style.backgroundColor = '#171515';
		};
		tbRow[i].onmouseout = function() {
		  this.style.backgroundColor = '#2f2f2f';
		};
	}
};
</script>
