﻿@model QuanLyDienThoaiBLL.ChiTietDonHang

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ChiTietDonHang</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GioHang.id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GioHang.id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DonHang.dia_chi_giao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DonHang.dia_chi_giao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DienThoai.ten_dien_thoai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DienThoai.ten_dien_thoai)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.so_luong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.so_luong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.don_gia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.don_gia)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
