﻿@model QuanLyDienThoaiBLL.ChiTietDonHang

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ChiTietDonHang</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ma_gio_hang, "GioHang")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ma_gio_hang", String.Empty)
            @Html.ValidationMessageFor(model => model.ma_gio_hang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ma_don_hang, "DonHang")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ma_don_hang", String.Empty)
            @Html.ValidationMessageFor(model => model.ma_don_hang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ma_dien_thoai, "DienThoai")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ma_dien_thoai", String.Empty)
            @Html.ValidationMessageFor(model => model.ma_dien_thoai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.so_luong)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.so_luong)
            @Html.ValidationMessageFor(model => model.so_luong)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.don_gia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.don_gia)
            @Html.ValidationMessageFor(model => model.don_gia)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
