﻿@model IEnumerable<QuanLyDienThoaiBLL.ChiTietDonHang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GioHang.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonHang.dia_chi_giao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai.ten_dien_thoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.so_luong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.don_gia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GioHang.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonHang.dia_chi_giao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai.ten_dien_thoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.so_luong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.don_gia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
