﻿
@model _1112007_1112059.Models.GioHangIndexViewModel
<table>
                    <thead>
                        <tr>
                            <th>Số lượng</th>
                            <th>Sản phẩm</th>
                            <th>Giá</th>
                            <th>Số tiền</th>
                            <th>Số lượng cập nhật</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.gio_hang.ChiTietDonHang)
                        {
                            <tr>
                                <td>@line.so_luong</td>
                                <td>@line.DienThoai.ten_dien_thoai</td>
                                <td>@line.DienThoai.gia.ToString()</td>
                                <td>@((line.so_luong
                                    * line.DienThoai.gia).ToString())</td>

                                <td>
                                @using (Ajax.BeginForm("CapNhatSanPham", "GioHang", new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "gio-hang"
                                })) {
                                
                                
                                    
                                        @Html.HiddenFor(x => x.ReturnUrl)
                                        <input type="text" name="so_luong_cap_nhat" class="form-control" value="@line.so_luong">
                                        <input type="hidden" name="ma_dien_thoai" value="@line.ma_dien_thoai" />
                                    
                                <input class="actionButtons" type="submit"
                                value="Cập nhật" />
                                    
                                }
                                </td>
                                <td>
                                @using (Ajax.BeginForm("XoaSanPham", "GioHang", new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "gio-hang"
                                })) {
                                <input type="hidden" name="ma_dien_thoai" value="@line.ma_dien_thoai" />                                
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input class="actionButtons" type="submit"
                                value="Xóa" />
                                }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Tổng tiền:</td>
                            <td>
                                @Model.gio_hang.TinhTongTien().ToString()
                            </td>
                        </tr>
                    </tfoot>
                </table>