﻿@model _1112007_1112059.Models.GioHangIndexViewModel

@{
    ViewBag.Title = "Giỏ hàng hiện tại";
}

<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />



    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
        <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
        <li><a href="#">GIỚI THIỆU</a></li>
        <li><a href="#">LIÊN HỆ</a></li>
        <li><a href="/Account/Login">TÀI KHOẢN</a></li>
    </ul>

    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-12">
            <h2>Giỏ hàng</h2>


            <div class="datagrid" id="gio-hang">
                <table>
                    <thead>
                        <tr>
                            <th>Số lượng</th>
                            <th>Sản phẩm</th>
                            <th>Giá</th>
                            <th>Số tiền</th>
                            <th>Số lượng cập nhật</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.gio_hang.ChiTietDonHang)
                        {
                            <tr>
                                <td>@line.so_luong</td>
                                <td>@line.DienThoai.ten_dien_thoai</td>
                                <td>@line.DienThoai.gia.ToString()</td>
                                <td>@((line.so_luong
                                    * line.DienThoai.gia).ToString())</td>
                                
                                <td>
                                @using (Ajax.BeginForm("CapNhatSanPham", "GioHang", new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "gio-hang"
                                })) {
                                @Html.Hidden("ma_dien_thoai", line.DienThoai.ma_dien_thoai)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                    <input type="text" name="so_luong_cap_nhat" class="form-control" value="@line.so_luong">
                                    
                                <input class="actionButtons" type="submit"
                                value="Cập nhật" />
                                    
                                }
                                </td>
                                <td>
                                @using (Ajax.BeginForm("XoaSanPham", "GioHang", new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "gio-hang"
                                })) {
                                @Html.Hidden("ma_dien_thoai", line.DienThoai.ma_dien_thoai)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input class="actionButtons" type="submit"
                                value="Xóa" />
                                }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Tổng tiền:</td>
                            <td>
                                @Model.gio_hang.TinhTongTien().ToString()
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row space30">
                <p class="actionButtons">
                    <a href="@Model.ReturnUrl">Tiếp tục mua hàng</a>
                    @Html.ActionLink("Thanh toán", "ThanhToan", new { returnUrl = Model.ReturnUrl })
                </p>
            </div>

        </div>
    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>


