﻿@model QuanLyDienThoaiBLL.DonHang

@{
    ViewBag.Title = "Thanh toán";
}
<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />



    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
        <li><a href="/SanPham/Index">TÌM SẢN PHẨM</a></li>
        <li><a href="gioi_thieu.html">GIỚI THIỆU</a></li>
        <li><a href="lien_he.html">LIÊN HỆ</a></li>
        <li><a href="dang_nhap.html">TÀI KHOẢN</a></li>
    </ul>

    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-4"></div>

        <div class="col-md-8">
            <h2>Thông tin thanh toán</h2>
            @using (Html.BeginForm("Create", "DonHang"))
            {
                <table>
                    <tr>
                        <td>
                            Địa chỉ giao hàng: 
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.dia_chi_giao, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.dia_chi_giao)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tên người nhận: 
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.ten_nguoi_nhan, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.ten_nguoi_nhan)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Điện thoại liên lạc:
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.dien_thoai, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.dien_thoai)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="actionButtons" type="submit" value="Hoàn tất đơn hàng" />
                        </td>
                    </tr>
                </table>
                
                @*<div>Địa chỉ giao hàng: @Html.TextBoxFor(x => x.dia_chi_giao, new { @class = "form-control" })</div>
                <div>Tên người nhận: @Html.TextBoxFor(x => x.ten_nguoi_nhan, new { @class = "form-control" })</div>
                <div>Điện thoại liên lạc: @Html.TextBoxFor(x => x.dien_thoai, new { @class = "form-control" })</div>
    
                <input class="actionButtons" type="submit" value="Hoàn tất đơn hàng" />*@
            }
        </div>
    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>
