﻿@model QuanLyDienThoaiBLL.GioHang

<div id="cart">
    <span class="caption">
        <b>Giỏ hàng: </b>
        @Model.DanhSachChiTiet.Sum(x => x.so_luong) sản phẩm,
        @Model.TinhTongTien().ToString() VNĐ
    </span>
    @Html.ActionLink("Thanh toán", "Index", "GioHang",
new { returnUrl = Request.Url.PathAndQuery }, new { @class="btn-thanh-toan" })
</div>
