﻿@model QuanLyDienThoaiBLL.LoaiDienThoai

@{
    Layout = null;
}

<div class="col-md-5">
    <h2>Thêm loại sản phẩm</h2>


    @using (Ajax.BeginForm("Create", new AjaxOptions
    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "noi-dung-chuc-nang"   
                    }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Loại điện thoại</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ma_loai)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ma_loai, new { @class="form-control" })
            @Html.ValidationMessageFor(model => model.ma_loai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ten_loai)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ten_loai, new { @class="form-control" })
            @Html.ValidationMessageFor(model => model.ten_loai)
        </div>
        <br />
        <p>
            <input type="submit" class="btn-reset-password" value="Tạo loại sản phẩm" />
        </p>
    </fieldset>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>