﻿@model QuanLyDienThoaiBLL.LoaiDienThoai

@{
    ViewBag.Title = "Xóa loại điện thoại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />



    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li class="active"><a href="/SanPham/DanhSachSanPham">SẢN PHẨM</a></li>
        <li><a href="/SanPham/Index">TÌM SẢN PHẨM</a></li>
        <li><a href="gioi_thieu.html">GIỚI THIỆU</a></li>
        <li><a href="lien_he.html">LIÊN HỆ</a></li>
        <li><a href="dang_nhap.html">TÀI KHOẢN</a></li>
    </ul>

    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-12">

            <h2>Xóa loại điện thoại</h2>

            <h3>Bạn có chắc muốn xóa loại sản phẩm này?</h3>
            <div class="table-ds-sp">
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ma_loai)</th>
                        <td>@Html.DisplayFor(model => model.ma_loai)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ten_loai)</th>
                        <td>@Html.DisplayFor(model => model.ten_loai)</td>
                    </tr>
                </table>
            </div>

            @using (Html.BeginForm())
            {
                <p>
                    <input type="submit" value="Xóa" />
                    <br/><br/>
        @Html.ActionLink("Quay về", "Index")
                </p>
            }
        </div>
    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>
