﻿@model QuanLyDienThoaiBLL.LoaiDienThoai

@{
    Layout = null;
}
<div class="col-md-5">
    <h2>Chỉnh sửa loại sản phẩm</h2>

    @using (Ajax.BeginForm("Edit", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "noi-dung-chuc-nang"
    }))
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Loại điện thoại</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.ma_loai)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ma_loai, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ma_loai)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ten_loai)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ten_loai, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ten_loai)
            </div>
            <br />
            <p>
                <input type="submit" value="Lưu chỉnh sửa" />
            </p>
        </fieldset>
    }
    
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
