﻿@model IEnumerable<QuanLyDienThoaiBLL.LoaiDienThoai>



<h2>Loại điện thoại</h2>

<p>
    @Ajax.ActionLink("Thêm mới loại điện thoại", "Create", "LoaiSanPham", null,
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "noi-dung-chuc-nang"   
                }, null)
</p>
    <table class="table-lich-su-mua-hang">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ma_loai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ten_loai)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ma_loai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ten_loai)
                </td>
                <td>
                    @Ajax.ActionLink("Edit", "Edit", "LoaiSanPham", new { id = item.ma_loai },
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "noi-dung-chuc-nang"   
                    }, null) | 
                    @Ajax.ActionLink("Delete", "DeleteConfirmed", "LoaiSanPham", new { id = item.ma_loai },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "noi-dung-chuc-nang"   
                    }, null) | 
                    @Ajax.ActionLink("Quản lý danh sách điện thoại", "DanhSachSanPham", "SanPham", new { ma_loai = item.ma_loai },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "danh-sach-dien-thoai"   
                    }, null) | 
                    @Ajax.ActionLink("Thống kê số lượng bán top 10 của loại", "ThongKeTop10LoaiSP", "SanPham", new { ma_loai = item.ma_loai },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "danh-sach-dien-thoai"   
                    }, null)
                </td>
            </tr>
        }

    </table>

<div id="danh-sach-dien-thoai">

</div>
    


