﻿@model IEnumerable<_1112007_1112059.Models.ThongKeTop10SanPham>


<h2>Top 10 sản phẩm bán chạy</h2>
<table class="table-lich-su-mua-hang">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
    </tr>
}

</table>
