﻿@model QuanLyDienThoaiBLL.DienThoai

@{
    Layout = null;
}



    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-6">

            <h2>Thêm sản phẩm</h2>

            @using (Ajax.BeginForm("Create", new AjaxOptions
    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "danh-sach-dien-thoai"   
                    }))
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Điện thoại</legend>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ma_dien_thoai)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ma_dien_thoai, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.ma_dien_thoai)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ten_dien_thoai)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ten_dien_thoai, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.ten_dien_thoai)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.loai_dien_thoai, "Loại Điện Thoại")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("loai_dien_thoai", null, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.loai_dien_thoai)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.he_dieu_danh)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.he_dieu_danh, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.he_dieu_danh)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.man_hinh)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.man_hinh, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.man_hinh)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.gia)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.gia, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.gia)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.hang_san_xuat)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.hang_san_xuat, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.hang_san_xuat)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.noi_san_xuat)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.noi_san_xuat, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.noi_san_xuat)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.cpu)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.cpu, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.cpu)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ram)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ram, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.ram)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.sim)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.sim, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.sim)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.camera)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.camera, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.camera)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.bo_nho_trong)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.bo_nho_trong, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.bo_nho_trong)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.dung_luong_pin)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.dung_luong_pin, new { @class="form-control" })
                        @Html.ValidationMessageFor(model => model.dung_luong_pin)
                    </div>
                    <br/>
                    <p>
                        <input type="submit" value="Thêm" />
                    </p>
                </fieldset>
            }

            
        </div>
    </div>
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
