﻿@model _1112007_1112059.Models.DanhSachSanPhamViewModel

@{
    Layout = null;
}



    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-12">
            <h2>Danh sách sản phẩm</h2>

            <div class="row space30">
                <p>
                    @Ajax.ActionLink("Thêm sản phẩm mới", "Create", "SanPham", null,
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "danh-sach-dien-thoai"   
                    }, new { @class="link-button" })
                </p>
            </div>

            <div class="row space30">
                <div class="col-md-12">
                <div class="table-ds-sp">
                <table>
                    <tr>
                        <th>
                            @Html.Label("Tên điện thoại")
                        </th>
                        <th>
                            @Html.Label("Loại điện thoại")
                            
                        </th>
                        <th>
                            @Html.Label("Hệ điều hành")
                            
                        </th>
                        <th>
                            @Html.Label("Màn hình")
                        </th>
                        <th>
                            @Html.Label("Giá")
                            
                        </th>
                        <th>
                            @Html.Label("Hãng sản xuất")
                            
                        </th>
                        <th>
                            @Html.Label("Nơi sản xuất")
                        </th>
                        <th>
                            @Html.Label("Ram")
                        </th>
                        <th>
                            @Html.Label("Sim")
                        </th>
                        <th>
                            @Html.Label("Camera")
                        </th>
                        <th>
                            @Html.Label("Bộ nhớ trong")
                            
                        </th>
                        <th>
                            @Html.Label("Dung lượng pin")
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.ds_DienThoai)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ten_dien_thoai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoaiDienThoai.ten_loai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.he_dieu_danh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.man_hinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.gia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.hang_san_xuat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.noi_san_xuat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ram)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sim)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.camera)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.bo_nho_trong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dung_luong_pin)
                            </td>
                            <td>
                                @Ajax.ActionLink("Edit", "Edit", "SanPham", new { id = item.ma_dien_thoai },
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "danh-sach-dien-thoai"   
                                }, null) <br/>
                                @Ajax.ActionLink("Delete", "DeleteConfirmed", "SanPham", new { id = item.ma_dien_thoai },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "danh-sach-dien-thoai"   
                                }, null)
                                
                                
                            </td>
                        </tr>
                    }

                </table>
            </div></div>
                </div>
        </div>
    </div>

    <div class="row space30">  
        <div class="pager">
            @Html.SanPhamAjaxPageLinks(Model.PagingInfo, x => Url.Action("DanhSachSanPham", new {page = x, ma_loai = Model.ds_DienThoai.FirstOrDefault().loai_dien_thoai}))
        </div>
    </div>

    