﻿@model QuanLyDienThoaiBLL.DienThoai

@{
    ViewBag.Title = "Xóa sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />



    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li class="active"><a href="/SanPham/DanhSachSanPham">SẢN PHẨM</a></li>
        <li><a href="/SanPham/Index">TÌM SẢN PHẨM</a></li>
        <li><a href="gioi_thieu.html">GIỚI THIỆU</a></li>
        <li><a href="lien_he.html">LIÊN HỆ</a></li>
        <li><a href="dang_nhap.html">TÀI KHOẢN</a></li>
    </ul>

    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-12">
            <h2>Xóa sản phẩm</h2>

            <h3>Bạn có chắc muốn xóa sản phẩm này?</h3>
            <div class="table-ds-sp">
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ma_dien_thoai)</th>
                        <td>@Html.DisplayFor(model => model.ma_dien_thoai)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ten_dien_thoai)</th>
                        <td>@Html.DisplayFor(model => model.ten_dien_thoai)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LoaiDienThoai.ten_loai)</th>
                        <td>@Html.DisplayFor(model => model.LoaiDienThoai.ten_loai)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.he_dieu_danh)</th>
                        <td>@Html.DisplayFor(model => model.he_dieu_danh)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.man_hinh)</th>
                        <td>@Html.DisplayFor(model => model.man_hinh)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.gia)</th>
                        <td>@Html.DisplayFor(model => model.gia)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.hang_san_xuat)</th>
                        <td>@Html.DisplayFor(model => model.hang_san_xuat)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.noi_san_xuat)</th>
                        <td>@Html.DisplayFor(model => model.noi_san_xuat)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.cpu)</th>
                        <td>@Html.DisplayFor(model => model.cpu)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ram)</th>
                        <td>@Html.DisplayFor(model => model.ram)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.sim)</th>
                        <td>@Html.DisplayFor(model => model.sim)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.camera)</th>
                        <td>@Html.DisplayFor(model => model.camera)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.bo_nho_trong)</th>
                        <td>@Html.DisplayFor(model => model.bo_nho_trong)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dung_luong_pin)</th>
                        <td>@Html.DisplayFor(model => model.dung_luong_pin)</td>
                    </tr>
                </table>
            </div>
            @using (Html.BeginForm())
            {
                <p>
                    <input type="submit" value="Xóa" />
                    <br/><br/>
        @Html.ActionLink("Quay về", "DanhSachSanPham")
                </p>
            }
        </div>
    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>
