﻿@model _1112007_1112059.Models.ChiTietSanPhamViewModel


@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />



    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li class="active"><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
        <li><a href="/SanPham/Index">TÌM SẢN PHẨM</a></li>
        <li><a href="gioi_thieu.html">GIỚI THIỆU</a></li>
        <li><a href="lien_he.html">LIÊN HỆ</a></li>
        <li><a href="dang_nhap.html">TÀI KHOẢN</a></li>
    </ul>

    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-12">
            <h2>Chi tiết sản phẩm</h2>

            <div class="table-ds-sp">
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.ma_dien_thoai)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.ma_dien_thoai)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.ten_dien_thoai)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.ten_dien_thoai)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.LoaiDienThoai.ten_loai)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.LoaiDienThoai.ten_loai)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.he_dieu_danh)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.he_dieu_danh)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.man_hinh)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.man_hinh)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.gia)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.gia)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.hang_san_xuat)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.hang_san_xuat)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.noi_san_xuat)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.noi_san_xuat)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.cpu)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.cpu)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.ram)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.ram)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.sim)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.sim)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.camera)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.camera)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.bo_nho_trong)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.bo_nho_trong)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.dienThoai.dung_luong_pin)</th>
                        <td>@Html.DisplayFor(model => model.dienThoai.dung_luong_pin)</td>
                    </tr>
                </table>
            </div>


            <p>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.dienThoai.ma_dien_thoai }) |
                @Html.ActionLink("Quay về", "DanhSachSanPham")
            </p>



        </div>

        <div class="row space30">
            <!-- row 2 begins -->

            <div class="col-md-12">
                <h2>Danh sách bình luận về sản phẩm</h2>

                <h3>Thêm bình luận</h3>

                @using (Html.BeginForm("Create", "BinhLuan"))
                {
                    @Html.ValidationSummary(true)

                    <table>
                        <tr>
                            <td>Nội dung bình luận</td>
                            <td><input type="text" name="noi_dung_binh_luan"></td>
                            <td><input type="hidden" name="ngay_binh_luan" value="@DateTime.Now.ToString()"></td>
                            <td><input type="hidden" name="ma_dien_thoai" value="@Model.dienThoai.ma_dien_thoai"></td>
                        </tr>
                    </table>

                        <p>
                            <input type="submit" value="Thêm bình luận" />
                        </p>
                    
                }
                <div class="table-ds-sp">
                    <table>
                        <tr>
                            <th>Mã</th>
                            <th>Nội dung</th>
                            <th>Ngày bình luận</th>
                        </tr>
                        @foreach (var item in Model.ds_BinhLuan)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ma_dien_thoai)</td>
                                <td>@Html.DisplayFor(modelItem => item.noi_dung_binh_luan)</td>
                                <td>@Html.DisplayFor(modelItem => item.ngay_binh_luan)</td>
                                <td>@Html.ActionLink("Chỉnh sửa", "Edit", "BinhLuan", new { id = item.id }, null) <br/>
                                    @Html.ActionLink("Xóa", "Delete", "BinhLuan", new { id = item.id }, null)
                                </td>
                            </tr>
                        }
                    </table>
                </div>

            </div>
        </div>

    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>
