﻿
@model _1112007_1112059.Models.DanhSachSanPhamViewModel


@{
    ViewBag.Title = "Tìm sản phẩm";
}

<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />



    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li><a href="/SanPham/DanhSachSanPham">SẢN PHẨM</a></li>
        <li class="active"><a href="/SanPham/Index">TÌM SẢN PHẨM</a></li>
        <li><a href="gioi_thieu.html">GIỚI THIỆU</a></li>
        <li><a href="lien_he.html">LIÊN HỆ</a></li>
        <li><a href="dang_nhap.html">TÀI KHOẢN</a></li>
    </ul>
    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-4">
            <h2>Tìm kiếm sản phẩm</h2>

            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label for="ten_san_pham">
                        Tên sản phẩm:
                    </label>
                    @Html.TextBox("ten_san_pham",null, new { @class="form-control" })
                </div>
                <button type="submit" class="btn btn-default">Tìm kiếm</button>
            }
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h2>Tìm kiếm nâng cao</h2>

            @using (Html.BeginForm())
            {
                
                <div class="form-group">
                    <label for="hang_san_xuat">
                        Hãng sản xuất:
                    </label>
                    @Html.DropDownList("hang_san_xuat", new[] {
                            new SelectListItem() {Text = "Samsung", Value = "Samsung"},
                            new SelectListItem() {Text = "Apple", Value = "Apple"},
                            new SelectListItem() {Text = "Nokia", Value = "Nokia"},
                            new SelectListItem() {Text = "HTC", Value = "HTC"}}, "Chọn hãng sản xuất", new { @class="form-control" })
                </div>
                <div class="form-group">
                    <label for="he_dieu_hanh">
                        Hệ điều hành:
                    </label>
                    @Html.DropDownList("he_dieu_hanh", new[] {
                            new SelectListItem() {Text = "Android", Value = "Android"},
                            new SelectListItem() {Text = "Window Phone", Value = "Window Phone"},
                            new SelectListItem() {Text = "IOS", Value = "IOS"}}, "Chọn hệ điều hành", new { @class="form-control" })
                </div>
                <div class="form-group">
                    <label for="gia_tien">
                        Giá tiền:</label>
                    @Html.DropDownList("gia_tien", new[] {
                            new SelectListItem() {Text = "Dưới 2 triệu", Value = "2"},
                            new SelectListItem() {Text = "Dưới 3 triệu", Value = "3"},
                            new SelectListItem() {Text = "Dưới 5 triệu", Value = "5"},
                            new SelectListItem() {Text = "Dưới 6 triệu", Value = "8"},
                            new SelectListItem() {Text = "Trên 10 triệu", Value = "10"}}, "Chọn giá tiền", new { @class="form-control" })
                </div>
                <div class="form-group">
                    <label for="kich_thuoc_man_hinh">
                        Kích thước màn hình:</label>
                    @Html.DropDownList("kich_thuoc_man_hinh", new[] {
                            new SelectListItem() {Text = "3.1inches Full HD", Value = "3.1inches Full HD"},
                            new SelectListItem() {Text = "4.5inches Full HD", Value = "4.5inches Full HD"},
                            new SelectListItem() {Text = "4.8inches Full HD", Value = "4.8inches Full HD"},
                            new SelectListItem() {Text = "5.0inches Full HD", Value = "5.0inches Full HD"},
                            new SelectListItem() {Text = "5.1inches Full HD", Value = "5.1inches Full HD"},
                            new SelectListItem() {Text = "5.3inches Full HD", Value = "5.3inches Full HD"}}, "Chọn kích thước màn hình", new { @class="form-control" })
                </div>
                <button type="submit" class="btn btn-default">Tìm kiếm</button>
            }
        </div>

    </div>
    <!-- /row 1 -->


    <div class="row space30">
        <!-- row 2 begins -->
        <h2>Danh sách sản phẩm</h2>
        
        <p>
            @Html.ActionLink("Thêm sản phẩm mới", "Create", null, new { @class="link-button" })
        </p>
    </div>
    <div class="row space30">  
        <div class="col-md-12">
            <div class="table-ds-sp">
                <table>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().ma_dien_thoai)
                        </th>
                        <th style="width:120px">
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().ten_dien_thoai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().LoaiDienThoai.ten_loai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().he_dieu_danh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().man_hinh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().gia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().hang_san_xuat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().noi_san_xuat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().cpu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().ram)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().sim)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().camera)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().bo_nho_trong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ds_DienThoai.First().dung_luong_pin)
                        </th>
                        <th></th>
                    </tr>

                    @if (Model != null) {
                        foreach (var item in Model.ds_DienThoai)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ma_dien_thoai)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ten_dien_thoai)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LoaiDienThoai.ten_loai)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.he_dieu_danh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.man_hinh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.gia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.hang_san_xuat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.noi_san_xuat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cpu)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ram)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sim)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.camera)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.bo_nho_trong)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dung_luong_pin)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ma_dien_thoai }) <br/>
                                    @Html.ActionLink("Details", "Details", new { id = item.ma_dien_thoai }) <br/>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ma_dien_thoai })
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </div>
    </div>
    <!-- /row 2 -->

    <div class="row space30">  
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new {page = x}))
        </div>
    </div>

    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>
<!-- /container -->
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->







