﻿
@model _1112007_1112059.Models.DanhSachSanPhamViewModel


@{
    ViewBag.Title = "Tìm sản phẩm";
}

<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />

    <ul class="nav nav-justified">
            <li><a href="/Home/Index">TRANG CHỦ</a></li>
            <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
            <li class="active"><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
            <li><a href="#">GIỚI THIỆU</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
            <li><a href="/Account/Login">TÀI KHOẢN</a></li>
        </ul>

    
    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-4">
            <h2>Tìm kiếm sản phẩm</h2>

            @{
                System.Globalization.NumberFormatInfo nfi = System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN").NumberFormat;
                nfi.NumberDecimalDigits = 0;
            }

            @using (Html.BeginForm("TimSanPham", "SanPham", FormMethod.Get))
            {
                <div class="form-group">
                    <label for="ten_san_pham">
                        Tên sản phẩm:
                    </label>
                    @Html.TextBox("ten_san_pham",null, new { @class="form-control" })
                </div>
                <button type="submit" class="btn btn-default">Tìm kiếm</button>
            }
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h2>Tìm kiếm nâng cao</h2>

            @using (Html.BeginForm("TimSanPham", "SanPham", FormMethod.Get))
            {
                
                <div class="form-group">
                    <label for="hang_san_xuat">
                        Hãng sản xuất:
                    </label>
                    @Html.DropDownList("hang_san_xuat", new[] {
                            new SelectListItem() {Text = "Samsung", Value = "Samsung"},
                            new SelectListItem() {Text = "Apple", Value = "Apple"},
                            new SelectListItem() {Text = "Nokia", Value = "Nokia"},
                            new SelectListItem() {Text = "HTC", Value = "HTC"}}, "Chọn hãng sản xuất", new { @class="form-control" })
                </div>
                <div class="form-group">
                    <label for="he_dieu_hanh">
                        Hệ điều hành:
                    </label>
                    @Html.DropDownList("he_dieu_hanh", new[] {
                            new SelectListItem() {Text = "Android", Value = "Android"},
                            new SelectListItem() {Text = "Window Phone", Value = "Window Phone"},
                            new SelectListItem() {Text = "IOS", Value = "IOS"}}, "Chọn hệ điều hành", new { @class="form-control" })
                </div>
                <div class="form-group">
                    <label for="gia_tien">
                        Giá tiền:</label>
                    @Html.DropDownList("gia_tien", new[] {
                            new SelectListItem() {Text = "Dưới 2 triệu", Value = "2"},
                            new SelectListItem() {Text = "Dưới 3 triệu", Value = "3"},
                            new SelectListItem() {Text = "Dưới 5 triệu", Value = "5"},
                            new SelectListItem() {Text = "Dưới 6 triệu", Value = "8"},
                            new SelectListItem() {Text = "Trên 10 triệu", Value = "10"}}, "Chọn giá tiền", new { @class="form-control" })
                </div>
                <div class="form-group">
                    <label for="kich_thuoc_man_hinh">
                        Kích thước màn hình:</label>
                    @Html.DropDownList("kich_thuoc_man_hinh", new[] {
                            new SelectListItem() {Text = "3.1inches Full HD", Value = "3.1inches Full HD"},
                            new SelectListItem() {Text = "4.5inches Full HD", Value = "4.5inches Full HD"},
                            new SelectListItem() {Text = "4.8inches Full HD", Value = "4.8inches Full HD"},
                            new SelectListItem() {Text = "5.0inches Full HD", Value = "5.0inches Full HD"},
                            new SelectListItem() {Text = "5.1inches Full HD", Value = "5.1inches Full HD"},
                            new SelectListItem() {Text = "5.3inches Full HD", Value = "5.3inches Full HD"}}, "Chọn kích thước màn hình", new { @class="form-control" })
                </div>
                <button type="submit" class="btn btn-default">Tìm kiếm</button>
            }
        </div>

    </div>
    <!-- /row 1 -->


    <div class="row space30">
        <!-- row 1 begins -->
            <h2>Danh sách sản phẩm</h2>
        </div>

            @for (int i = 0; i < Model.ds_DienThoai.Count(); i = i + 4)
            {
                @:<div class="row space30">
                string ten_dt = Model.ds_DienThoai.ElementAt(i).ten_dien_thoai;
                string duong_dan = "/Images/" + ten_dt + ".jpg";
                
                <div class="col-xs-6 col-sm-3">
                    <h3>@ten_dt</h3>
                    <a href="#">
                      <img src="@duong_dan" alt="@ten_dt" class="img-responsive img-rounded img_bottom" />
                    </a>
                    <p>
                            @ten_dt<br />
                            <span class="price">@Model.ds_DienThoai.ElementAt(i).gia.ToString("N", @nfi) VNĐ</span></p>
                    <p>
                        <a class="btn-sm btn-primary" href="/SanPham/XemChiTietSanPham/@Model.ds_DienThoai.ElementAt(i).ma_dien_thoai">Chi tiết &raquo;</a>
                        @using (Html.BeginForm("ThemSanPham", "GioHang"))
                        {
                            @Html.Hidden("ma_dien_thoai", Model.ds_DienThoai.ElementAt(i).ma_dien_thoai)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input class="them-vao-gio" type="submit" value="+ Thêm vào giỏ" />
                        }
                    </p>
                </div>
                
                if (i + 1 < Model.ds_DienThoai.Count())
                {
                    ten_dt = Model.ds_DienThoai.ElementAt(i + 1).ten_dien_thoai;
                    duong_dan = "/Images/" + ten_dt + ".jpg";
                
                    <div class="col-xs-6 col-sm-3">
                        <h3>@ten_dt</h3>
                        <a href="#">
                          <img src="@duong_dan" alt="@ten_dt" class="img-responsive img-rounded img_bottom" />
                        </a>
                        <p>
                                @ten_dt<br />
                                <span class="price">@Model.ds_DienThoai.ElementAt(i + 1).gia.ToString("N", @nfi) VNĐ</span></p>
                        <p>
                            <a class="btn-sm btn-success" href="/SanPham/XemChiTietSanPham/@Model.ds_DienThoai.ElementAt(i + 1).ma_dien_thoai">Chi tiết &raquo;</a>
                            @using (Html.BeginForm("ThemSanPham", "GioHang"))
                        {
                            @Html.Hidden("ma_dien_thoai", Model.ds_DienThoai.ElementAt(i + 1).ma_dien_thoai)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input class="them-vao-gio" type="submit" value="+ Thêm vào giỏ" />
                        }
                        </p>
                    </div>
                }
                
                
                if (i + 2 < Model.ds_DienThoai.Count())
                {
                    ten_dt = Model.ds_DienThoai.ElementAt(i + 2).ten_dien_thoai;
                    duong_dan = "/Images/" + ten_dt + ".jpg";
                    <div class="col-xs-6 col-sm-3">
                        <h3>@ten_dt</h3>
                        <a href="#">
                          <img src="@duong_dan" alt="@ten_dt" class="img-responsive img-rounded img_bottom" />
                        </a>
                        <p>
                                @ten_dt<br />
                                <span class="price">@Model.ds_DienThoai.ElementAt(i + 2).gia.ToString("N", @nfi) VNĐ</span></p>
                        <p>
                            <a class="btn-sm btn-primary" href="/SanPham/XemChiTietSanPham/@Model.ds_DienThoai.ElementAt(i + 2).ma_dien_thoai">Chi tiết &raquo;</a>
                            @using (Html.BeginForm("ThemSanPham", "GioHang"))
                        {
                            @Html.Hidden("ma_dien_thoai", Model.ds_DienThoai.ElementAt(i + 2).ma_dien_thoai)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input class="them-vao-gio" type="submit" value="+ Thêm vào giỏ" />
                        }
                        </p>
                    </div>
                }
                
                
                if (i + 3 < Model.ds_DienThoai.Count())
                {
                    ten_dt = Model.ds_DienThoai.ElementAt(i + 3).ten_dien_thoai;
                    duong_dan = "/Images/" + ten_dt + ".jpg";
                    <div class="col-xs-6 col-sm-3">
                        <h3>@ten_dt</h3>
                        <a href="#">
                          <img src="@duong_dan" alt="@ten_dt" class="img-responsive img-rounded img_bottom" />
                        </a>
                        <p>
                                @ten_dt<br />
                                <span class="price">@Model.ds_DienThoai.ElementAt(i + 3).gia.ToString("N", @nfi) VNĐ</span></p>
                        <p>
                            <a class="btn-sm btn-success" href="/SanPham/XemChiTietSanPham/@Model.ds_DienThoai.ElementAt(i + 3).ma_dien_thoai">Chi tiết &raquo;</a>
                            @using (Html.BeginForm("ThemSanPham", "GioHang"))
                        {
                            @Html.Hidden("ma_dien_thoai", Model.ds_DienThoai.ElementAt(i + 3).ma_dien_thoai)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input class="them-vao-gio" type="submit" value="+ Thêm vào giỏ" />
                        }
                        </p>
                    </div>
                }
                @:</div>
            }

            
                

    <div class="row space30">  
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("TimSanPham", new {page = x}))
        </div>
    </div>


    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>
<!-- /container -->
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->







