﻿@model _1112007_1112059.Models.XemChiTietSanPhamViewModel

@{
    ViewBag.Title = "Xem chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />

    <ul class="nav nav-justified">
            <li><a href="/Home/Index">TRANG CHỦ</a></li>
            <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
            <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
            <li><a href="#">GIỚI THIỆU</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
            <li><a href="/Account/Login">TÀI KHOẢN</a></li>
        </ul>


    <div class="row space30">
        <!-- row 1 begins -->

        @{
                System.Globalization.NumberFormatInfo nfi = System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN").NumberFormat;
                nfi.NumberDecimalDigits = 0;
            }

        <div class="col-md-12">
            <h2>Thông tin chi tiết sản phẩm</h2>
            <p class="so-lan-xem-sp">Số lần xem: @Model.soLanXem.so_lan_xem</p>
            @using (Html.BeginForm("ThemSanPham", "GioHang"))
                        {
                            @Html.Hidden("ma_dien_thoai", Model.dienThoai.ma_dien_thoai)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input class="them-vao-gio" type="submit" value="+ Thêm vào giỏ" />
                        }
            <div class="col-xs-6 col-sm-9">
                <h3>
                    @Model.dienThoai.ten_dien_thoai
                </h3>
                <div id="sliderFrame">
                    <div id="slider">

                        @foreach (var hinh in Model.ds_hinh)
                        {
                            <img src="@hinh.url" />
                        }

                    </div>
                    <!--Custom navigation buttons on both sides-->
                    <div class="group1-Wrapper">
                        <a onclick="imageSlider.previous()" class="group1-Prev"></a><a onclick="imageSlider.next()"
                            class="group1-Next"></a>
                    </div>
                    <!--nav bar-->
                    <div style="text-align: center; padding: 20px; z-index: 20;">
                        <a onclick="imageSlider.previous()" class="group2-Prev"></a><a id='auto' onclick="switchAutoAdvance()"></a><a onclick="imageSlider.next()" class="group2-Next"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6">
            <h4>Chức năng, cấu hình @Model.dienThoai.ten_dien_thoai</h4>
            <table class="table-cauhinh">
                <tr class="odd">
                    <td class="column1">Màn hình:
                    </td>
                    <td>
                        @Model.dienThoai.man_hinh
                    </td>
                </tr>
                <tr>
                    <td>CPU:
                    </td>
                    <td>
                        @Model.dienThoai.cpu
                    </td>
                </tr>
                <tr class="odd">
                    <td class="column1">RAM:
                    </td>
                    <td>
                        @Model.dienThoai.ram
                    </td>
                </tr>
                <tr>
                    <td>Hệ điều hành:
                    </td>
                    <td>
                        @Model.dienThoai.he_dieu_danh
                    </td>
                </tr>
                <tr class="odd">
                    <td class="column1">Camera:
                    </td>
                    <td>
                        @Model.dienThoai.camera
                    </td>
                </tr>
                <tr>
                    <td class="column1">Bộ nhớ trong:
                    </td>
                    <td>
                        @Model.dienThoai.bo_nho_trong
                    </td>
                </tr>
                <tr class="odd">
                    <td class="column1">Dung lượng pin:
                    </td>
                    <td>
                        @Model.dienThoai.dung_luong_pin
                    </td>
                </tr>
                <tr>
                    <td class="column1">SIM:
                    </td>
                    <td>
                        @Model.dienThoai.sim
                    </td>
                </tr>
                <tr class="odd">
                    <td class="column1">Giá:
                    </td>
                    <td>
                        @Model.dienThoai.gia.ToString("N", @nfi) VNĐ
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row space30">
            <h3>Sản phẩm liên quan</h3>
            <div id="ds-sp-lien-quan">
            @foreach (var splq in Model.ds_dienThoaiLienQuan)
            {
                string duong_dan = "/Images/" + splq.ten_dien_thoai + ".jpg";
                <div class="col-xs-6 col-sm-3">    
                    <a href="/SanPham/XemChiTietSanPham/@splq.ma_dien_thoai">
                    <h4>@splq.ten_dien_thoai</h4>
                    <img src="@duong_dan" width="120" height="120" />
                    </a>
                </div>
            }
            </div>
    </div>

    <div class="row space30">
        <!-- row 2 begins -->
        <div class="col-xs-6 col-sm-9">
            <h3>MỜI BẠN ĐĂNG BÌNH LUẬN HOẶC ĐẶT CÂU HỎI VỀ <span>@Model.dienThoai.ten_dien_thoai.ToString().ToUpper()</span></h3>


            @using (Ajax.BeginForm("ThemBinhLuan", "BinhLuan", new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "ds-binh-luan"
            }))
            {
                <div class="form-group">
                    <label for="ho_ten">
                        Họ tên:</label>
                    @if (ViewBag.IsLoggedIn)
                    {
                        <input readonly="readonly" value="@ViewBag.TenDangNhap" name="ten_nguoi_binh_luan" type="text" class="form-control">
                    }
                    else
                    {
                        <input name="ten_nguoi_binh_luan" type="text" class="form-control" placeholder="Nhập tên của bạn">
                    }
                </div>
                <div class="form-group">
                    <label for="binh_luan">
                        Bình luận</label>
                    <textarea name="noi_dung_binh_luan" rows="5" class="form-control" id="message" placeholder="Bình luận của bạn"></textarea>
                </div>
                @Html.Hidden("ma_dien_thoai", Model.dienThoai.ma_dien_thoai)
                
                <button type='submit' class='btn btn-default'> GỬI BÌNH LUẬN</button>
            }
            
        </div>
    </div>
    <div class="row space30">
        <!-- row 3 begins -->
        <div class="col-xs-6 col-sm-9">
            <h3>DANH SÁCH CÁC BÌNH LUẬN</h3>
            <div id="ds-binh-luan">
                @foreach (var binhluan in Model.ds_BinhLuan)
                {
                    <div class="binh-luan">
                        <h4>@binhluan.ten_nguoi_binh_luan</h4>
                        <p>@binhluan.noi_dung_binh_luan</p>
                        <p class="binh-luan-datetime">@binhluan.ngay_binh_luan</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row space30">  
        <div class="pager">
            @Html.BinhLuanPageLinks(Model.pagingInfo, x => Url.Action("XemBinhLuan" ,"BinhLuan", new {page = x}))
        </div>
    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>
<script type="text/javascript">
    //The following script is for the group 2 navigation buttons.
    function switchAutoAdvance() {
        imageSlider.switchAuto();
        switchPlayPauseClass();
    }
    function switchPlayPauseClass() {
        var auto = document.getElementById('auto');
        var isAutoPlay = imageSlider.getAuto();
        auto.className = isAutoPlay ? "group2-Pause" : "group2-Play";
        auto.title = isAutoPlay ? "Pause" : "Play";
    }
    switchPlayPauseClass();
</script>
