﻿@model _1112007_1112059.Models.DanhSachSanPhamViewModel

@{
    ViewBag.Title = "Xem danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />

    <ul class="nav nav-justified">
            <li><a href="/Home/Index">TRANG CHỦ</a></li>
            <li class="active"><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
            <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
            <li><a href="#">GIỚI THIỆU</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
            <li><a href="/Account/Login">TÀI KHOẢN</a></li>
        </ul>


    <div class="row space30">
        <!-- row 1 begins -->

        <div class="col-md-12">
            <h2>Danh sách sản phẩm</h2>

            @for (int i = 0; i < Model.ds_DienThoai.Count(); i = i + 4)
            {
                System.Globalization.NumberFormatInfo nfi = System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN").NumberFormat;
                nfi.NumberDecimalDigits = 0;
                
                string ten_dt = Model.ds_DienThoai.ElementAt(i).ten_dien_thoai;
                string duong_dan = "/Images/" + ten_dt + ".jpg";
                <div class="col-xs-6 col-sm-3">
                    <h3>@ten_dt</h3>
                    <a href="#">
                      <img src="@duong_dan" alt="@ten_dt" class="img-responsive img-rounded img_bottom" />
                    </a>
                    <p>
                            @ten_dt<br />
                        

                            <span class="price">@Model.ds_DienThoai.ElementAt(i).gia.ToString("N", @nfi) VNĐ</span></p>
                    <p>
                        <a class="btn-sm btn-primary" href="/SanPham/XemChiTietSanPham/@Model.ds_DienThoai.ElementAt(i).ma_dien_thoai">Chi tiết &raquo;</a>
                        @using (Html.BeginForm("ThemSanPham", "GioHang"))
                        {
                            @Html.Hidden("ma_dien_thoai", Model.ds_DienThoai.ElementAt(i).ma_dien_thoai)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input class="them-vao-gio" type="submit" value="+ Thêm vào giỏ" />
                        }
                    </p>
                </div>
                
                if (i + 1 < Model.ds_DienThoai.Count())
                {
                    ten_dt = Model.ds_DienThoai.ElementAt(i + 1).ten_dien_thoai;
                    duong_dan = "/Images/" + ten_dt + ".jpg";
                
                    <div class="col-xs-6 col-sm-3">
                        <h3>@ten_dt</h3>
                        <a href="#">
                          <img src="@duong_dan" alt="@ten_dt" class="img-responsive img-rounded img_bottom" />
                        </a>
                        <p>
                                @ten_dt<br />
                                <span class="price">@Model.ds_DienThoai.ElementAt(i + 1).gia.ToString("N", @nfi) VNĐ</span></p>
                        <p>
                            <a class="btn-sm btn-success" href="/SanPham/XemChiTietSanPham/@Model.ds_DienThoai.ElementAt(i + 1).ma_dien_thoai">Chi tiết &raquo;</a>
                            @using (Html.BeginForm("ThemSanPham", "GioHang"))
                        {
                            @Html.Hidden("ma_dien_thoai", Model.ds_DienThoai.ElementAt(i + 1).ma_dien_thoai)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input class="them-vao-gio" type="submit" value="+ Thêm vào giỏ" />
                        }
                        </p>
                    </div>
                }
                
                
                if (i + 2 < Model.ds_DienThoai.Count())
                {
                    ten_dt = Model.ds_DienThoai.ElementAt(i + 2).ten_dien_thoai;
                    duong_dan = "/Images/" + ten_dt + ".jpg";
                    <div class="col-xs-6 col-sm-3">
                        <h3>@ten_dt</h3>
                        <a href="#">
                          <img src="@duong_dan" alt="@ten_dt" class="img-responsive img-rounded img_bottom" />
                        </a>
                        <p>
                                @ten_dt<br />
                                <span class="price">@Model.ds_DienThoai.ElementAt(i + 2).gia.ToString("N", @nfi) VNĐ</span></p>
                        <p>
                            <a class="btn-sm btn-primary" href="/SanPham/XemChiTietSanPham/@Model.ds_DienThoai.ElementAt(i + 2).ma_dien_thoai">Chi tiết &raquo;</a>
                            @using (Html.BeginForm("ThemSanPham", "GioHang"))
                        {
                            @Html.Hidden("ma_dien_thoai", Model.ds_DienThoai.ElementAt(i + 2).ma_dien_thoai)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input class="them-vao-gio" type="submit" value="+ Thêm vào giỏ" />
                        }
                        </p>
                    </div>
                }
                
                
                if (i + 3 < Model.ds_DienThoai.Count())
                {
                    ten_dt = Model.ds_DienThoai.ElementAt(i + 3).ten_dien_thoai;
                    duong_dan = "/Images/" + ten_dt + ".jpg";
                    <div class="col-xs-6 col-sm-3">
                        <h3>@ten_dt</h3>
                        <a href="#">
                          <img src="@duong_dan" alt="@ten_dt" class="img-responsive img-rounded img_bottom" />
                        </a>
                        <p>
                                @ten_dt<br />
                                <span class="price">@Model.ds_DienThoai.ElementAt(i + 3).gia.ToString("N", @nfi) VNĐ</span></p>
                        <p>
                            <a class="btn-sm btn-success" href="/SanPham/XemChiTietSanPham/@Model.ds_DienThoai.ElementAt(i + 3).ma_dien_thoai">Chi tiết &raquo;</a>
                            @using (Html.BeginForm("ThemSanPham", "GioHang"))
                        {
                            @Html.Hidden("ma_dien_thoai", Model.ds_DienThoai.ElementAt(i + 3).ma_dien_thoai)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input class="them-vao-gio" type="submit" value="+ Thêm vào giỏ" />
                        }
                        </p>
                    </div>
                }
                
            }

            </div></div>
                

    <div class="row space30">  
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("XemDanhSachSanPham", new {page = x}))
        </div>
    </div>

    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>

</div>


