﻿@model _1112007_1112059.Models.LocalPasswordModel

<h2>Thay đổi mật khẩu</h2>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table>
        <tr>
            <td>@Html.LabelFor(m => m.OldPassword)</td>
            <td>@Html.PasswordFor(m => m.OldPassword, new { @class="form-control" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.NewPassword)</td>
            <td>@Html.PasswordFor(m => m.NewPassword, new { @class="form-control" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class="form-control" })</td>
        </tr>
        <tr>
            <td></td>
            <td><input id="loginbutton" type="submit" value="Đổi mật khẩu" /></td>
        </tr>
    </table>
}
