﻿@model IEnumerable<QuanLyDienThoaiBLL.ThongTinNguoiDung>


<h2>Danh sách tài khoản</h2>


<table class="table-lich-su-mua-hang">
    <tr>
        <th>
            Tên đăng nhập
        </th>
        <th>
            Email
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Nơi ở hiện tại
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Vai trò
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @{string gioi_tinh = item.gioitinh == false ? "Nam" : "Nữ"; }

            @gioi_tinh
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaysinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noiohientai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sodienthoai)
        </td>
        <td>
            @item.UserProfile.webpages_Roles.FirstOrDefault().RoleName

            @if (item.UserProfile.webpages_Roles.FirstOrDefault().RoleName != "Admin")
            {
                <div>
                @Ajax.ActionLink("Cấp quyền admin", "CapQuyenAdmin", "Account", new { id=item.UserId },
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "noi-dung-chuc-nang"   
                }, null)
                </div>
            }
            else
            {
                <div>
                @Ajax.ActionLink("Bỏ quyền admin", "BoQuyenAdmin", "Account", new { id=item.UserId },
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "noi-dung-chuc-nang"   
                }, null)
                </div>
            }
        </td>
        <td>
            @Ajax.ActionLink("Edit", "ChinhSuaTaiKhoan", "Account", new { id=item.UserId, returnUrl = Request.Url.PathAndQuery },
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "noi-dung-chuc-nang"   
            }, null) | 
            
            @Ajax.ActionLink("Delete", "XoaTaiKhoan", "Account", new { id=item.UserId },
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "noi-dung-chuc-nang"   
            }, null)
        </td>
    </tr>
}

</table>
