﻿@model QuanLyDienThoaiBLL.ThongTinNguoiDung

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("DoiThongTinTaiKhoan", "Account"))
{
    
    @Html.AntiForgeryToken()
    
    <h2>Thông tin tài khoản</h2>
    <table>

        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.email)
                </div>
                <input type="hidden" name="UserId" value="@Model.UserId" />
            </td>
            <td>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.email, new { @readonly = "readonly", @class="form-control" })
                    
                </div>
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.email)
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.gioitinh)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.gioitinh, new[] {
                            new SelectListItem() {Text = "Nam", Value = bool.FalseString},
                            new SelectListItem() {Text = "Nữ", Value = bool.TrueString}}, "Chọn giới tính", new { @class = "form-control" })                    
                </div>
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.gioitinh)
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ngaysinh)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.Editor("ngaysinh", ((DateTime)Model.ngaysinh).ToString("yyyy-MM-dd"))
                </div>
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.ngaysinh)
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.noiohientai)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.noiohientai, new { @class = "form-control" })
                </div>
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.noiohientai)
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.sodienthoai)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.sodienthoai, new { @class = "form-control" })
                </div>
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.sodienthoai)
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <p>
                    <input class="btn-reset-password" type="submit" value="Lưu thông tin" />
                </p>
            </td>
        </tr>
    </table>
}

