﻿@{
    ViewBag.Title = "Xác nhận thành công";
}
<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />

    <ul class="nav nav-justified">
            <li><a href="/Home/Index">TRANG CHỦ</a></li>
            <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
            <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
            <li><a href="#">GIỚI THIỆU</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
            <li><a href="/Account/Login">TÀI KHOẢN</a></li>
        </ul>

    

    <div class="row space30">
        <!-- row 1 begins -->
        <div class="col-md-12">
            <h2>Xác nhận thành công</h2>
<p>Bạn đã hoàn tất quá trình kích hoạt. Vui lòng nhấn vào link <a href="/Account/Login/?returnUrl=/Home/Index">Đăng nhập</a> để đăng nhập</p>
        </div> </div></div>

