﻿@model _1112007_1112059.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />

    <ul class="nav nav-justified">
            <li><a href="/Home/Index">TRANG CHỦ</a></li>
            <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
            <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
            <li><a href="#">GIỚI THIỆU</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
            <li class="active"><a href="/Account/Login">TÀI KHOẢN</a></li>
        </ul>

    

    <div class="row space30">
        <!-- row 1 begins -->
        <div class="col-md-4">
        </div>
        <div class="col-md-8">

            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>

            <section id="loginForm">
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <table>

                        <tr>
                            <td>@Html.LabelFor(m => m.UserName)</td>
                            <td>@Html.TextBoxFor(m => m.UserName, new { @class="form-control" })</td>
                            <td>@Html.ValidationMessageFor(m => m.UserName)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Password)</td>
                            <td>@Html.PasswordFor(m => m.Password, new { @class="form-control" })</td>
                            <td>@Html.ValidationMessageFor(m => m.Password)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.CheckBoxFor(m => m.RememberMe)@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input id="loginbutton" type="submit" value="Đăng nhập" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.ActionLink("Đăng ký", "Register") nếu chưa có tài khoản</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.ActionLink("Quên mật khẩu", "ResetPassword", new { ten_dang_nhap = ViewBag.ten_dang_nhap }, null)</td>
                        </tr>
                    </table>
                    <p>
                    </p>
                }
            </section>
        </div>
    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>
@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
