﻿@model _1112007_1112059.Models.ThongTinTaiKhoanViewModel
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />

    <ul class="nav nav-justified">
            <li><a href="/Home/Index">TRANG CHỦ</a></li>
            <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
            <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
            <li><a href="#">GIỚI THIỆU</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
            <li class="active"><a href="/Account/Login">TÀI KHOẢN</a></li>
        </ul>


    <div class="row space30">
        <div class="col-md-12">
    <hgroup class="title">
                <h1>@ViewBag.Title</h1>
        <p class="message-success">@ViewBag.StatusMessage</p>
            </hgroup>
            </div>
        </div>

    <div class="row space30">
        <!-- row 1 begins -->
        <div class="col-md-6">
            

            

            <p>Đang đăng nhập với tài khoản <strong>@User.Identity.Name</strong>.</p>

            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial", Model.localPassowrdModel)
            }
        </div>
        <div class="col-md-6">
            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ThayDoiThongTinTaiKhoan", Model.tt_nguoi_dung)
            }
        </div>
    </div>
    
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
