﻿@model _1112007_1112059.Models.RegisterModel
@{
    ViewBag.Title = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />

    <ul class="nav nav-justified">
            <li><a href="/Home/Index">TRANG CHỦ</a></li>
            <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
            <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
            <li><a href="#">GIỚI THIỆU</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
            <li><a href="/Account/Login">TÀI KHOẢN</a></li>
        </ul>

    

    <div class="row space30">
        <!-- row 1 begins -->
        <div class="col-md-4">
        </div>
        <div class="col-md-8">

            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <p style="color:red;">@ViewBag.ThongBao</p>
            </hgroup>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                

                <table>
                    <tr>
                        <td>@Html.LabelFor(m => m.UserName)</td>
                        <td>@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(m => m.UserName)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Password)</td>
                        <td>@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(m => m.Password)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                        <td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
                    </tr>
                    
                    <tr>
                        <td><b>Thông tin cá nhân</b></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Html.TextBoxFor(x => x.email, new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(x => x.email)</td>
                    </tr>
                    <tr>
                        <td>Giới tính</td>
                        <td>@Html.DropDownListFor(x => x.gioi_tinh, new[] {
                            new SelectListItem() {Text = "Nam", Value = bool.FalseString},
                            new SelectListItem() {Text = "Nữ", Value = bool.TrueString}}, "Chọn giới tính", new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(x => x.gioi_tinh)</td>
                    </tr>
                    <tr>
                        <td>Ngày tháng năm sinh</td>
                        <td>@Html.EditorFor(x => x.ngay_sinh, new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(x => x.ngay_sinh)</td>
                    </tr>
                    <tr>
                        <td>Nơi ở hiện tại</td>
                        <td>@Html.TextBoxFor(model => model.noi_o_hien_tai, new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(x => x.noi_o_hien_tai)</td>
                    </tr>
                    <tr>
                        <td>Điện thoại liên lạc</td>
                        <td>@Html.TextBoxFor(x => x.dien_thoai, new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(x => x.dien_thoai)</td>
                    </tr>
                    <tr>
                        <td colspan ="3">
                            @Html.GenerateCaptcha()
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input id="loginbutton" type="submit" value="Đăng ký" /></td>
                    </tr>
                </table>
    
            }
        </div>
    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
