﻿@{
    ViewBag.Title = "Đăng ký bước 2";
}
<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />

    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
        <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
        <li><a href="#">GIỚI THIỆU</a></li>
        <li><a href="#">LIÊN HỆ</a></li>
        <li><a href="/Account/Login">TÀI KHOẢN</a></li>
    </ul>



    <div class="row space30">
        <!-- row 1 begins -->
        <div class="col-md-12">
            <h2>Hướng dẫn kích hoạt tài khoản</h2>
            <p>Hoàn thành quá trình đăng ký bằng cách xác nhận email đã được gửi đến email của bạn.</p>
        </div>
    </div>
</div>


