﻿@model _1112007_1112059.Models.ResetPasswordConfirmModel

@{
    ViewBag.Title = "Reset Password";
}

<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />

    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
        <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
        <li><a href="#">GIỚI THIỆU</a></li>
        <li><a href="#">LIÊN HỆ</a></li>
        <li><a href="/Account/Login">TÀI KHOẢN</a></li>
    </ul>


    <div class="row space30">
        <!-- row 1 begins -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Xác nhận reset password</h2>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Nhập thông tin mật khẩu</legend>

                    <input type="hidden" name="Token" value="@Model.Token" />

                    <div class="editor-label">
                        @Html.LabelFor(model => model.NewPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ConfirmPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>

                    <p>
                        <input class="btn-reset-password" type="submit" value="Xác nhận" />
                    </p>
                </fieldset>
            }
        </div>
    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
