﻿@{
    ViewBag.Title = "Email xác nhận reset password";
}

<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />



    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
        <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
        <li><a href="#">GIỚI THIỆU</a></li>
        <li><a href="#">LIÊN HỆ</a></li>
        <li><a href="/Account/Login">TÀI KHOẢN</a></li>
    </ul>

    <div class="row space30">
        <!-- row 1 begins -->
        <div class="col-md-12">
            <h2>Thông tin xác nhận</h2>
            <p>Một email xác nhận thay đổi password đã được gửi tới email đăng ký trước đó của bạn</p>
        </div>
    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>
