﻿@{
    ViewBag.Title = "Reset Password";
}

<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />



    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
        <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
        <li><a href="#">GIỚI THIỆU</a></li>
        <li><a href="#">LIÊN HỆ</a></li>
        <li><a href="/Account/Login">TÀI KHOẢN</a></li>
    </ul>

    <div class="row space30">
        <!-- row 1 begins -->
        <div class="col-md-4">
        </div>
        <div class="col-md-8">

            <h2>Reset Password</h2>
            @using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <td>Tên đăng nhập: </td>
                        <td>
                            <input class="form-control" name="ten_dang_nhap" type="text" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn-reset-password" value="Reset" type="submit" /></td>
                    </tr>
                </table>
            }
        </div>
    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>

