﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/templatemo_justified.css" rel="stylesheet">
    <link href="~/themes/1/js-image-slider.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css">
    <script src="~/themes/1/js-image-slider.js" type="text/javascript"></script>
    
</head>
<body>
    
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
    
    <div id="tom-tat-gio-hang">
            
    @{ Html.RenderAction("TomTatGioHang", "GioHang"); }
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
