﻿@if (Request.IsAuthenticated) {
    <text>
        Xin chào, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
        }
    </text>
    <a href="/DonHang/XemLichSuMuaHang"><input class="btn-xem-lich-su" type="button" value="Xem lịch sử mua hàng" /></a>
} else {
    @Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) @:&nbsp;
    @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) 
}
