﻿<div id="container" class="container">

    <img src="/images/banner.jpg" alt="Simplex Header" class="img-responsive" />



    <ul class="nav nav-justified">
        <li><a href="/Home/Index">TRANG CHỦ</a></li>
        <li><a href="/SanPham/XemDanhSachSanPham">SẢN PHẨM</a></li>
        <li><a href="/SanPham/TimSanPham">TÌM SẢN PHẨM</a></li>
        <li><a href="#">GIỚI THIỆU</a></li>
        <li><a href="#">LIÊN HỆ</a></li>
        <li><a href="/Account/Login">TÀI KHOẢN</a></li>
    </ul>

    <div class="row space30">
        <!-- row 1 begins -->
        <div class="col-md-2">

            <h2>Chức năng quản lý</h2>
            <div id='cssmenu'>
                <ul>
                    <li>@Ajax.ActionLink("Quản lý tài khoản người dùng", "DanhSachTaiKhoan", "Account",
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "noi-dung-chuc-nang"
            })</li>
                    <li>@Ajax.ActionLink("Quản lý loại điện thoại", "Index", "LoaiSanPham",
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "noi-dung-chuc-nang"
            })</li>
                    <li>@Ajax.ActionLink("Quản lý đơn hàng", "Index", "DonHang",
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "noi-dung-chuc-nang"
            })</li>

                    <li>@Ajax.ActionLink("Thống kê doanh số bán hàng", "ThongKeDoanhSo", "DonHang",
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "noi-dung-chuc-nang"
            })</li>
                    <li class='last'>@Ajax.ActionLink("Thống kê số lượng bán top 10 sản phẩm", "ThongKeTop10SanPham", "SanPham",
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "noi-dung-chuc-nang"
            })</li>
                </ul>
            </div>


        </div>

        <div class="col-md-10">
            <div id="noi-dung-chuc-nang">
                <h2></h2>
                <p class="message-success">@ViewBag.Message</p>
            </div>
        </div>

    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>
            Copyright © 2014 1112007-1112059
        </p>
    </div>
</div>


